<h1>{{userFirstName}}</h1>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2>Your Dogs</h2>
            <div class="card">
                {{#each Dog}}
                <img src="/img/IMG_0517 2.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">gitme: {{this.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age: {{this.age}}</li>
                    <li class="list-group-item">Breed: {{this.breed}}</li>
                    <li class="list-group-item">Weight: {{this.weight}}</li>
                    <li class="list-group-item">Sex: {{this.sex}}</li>
                   {{!--  <li class="list-group-item">Dog Walker: {{this.walker}}</li> --}}
                </ul>
                <div class="card-body">
                    <a href="/walk-dog?dog_id={{this.id}}" class="card-link"><button type="button" class="btn btn-outline-dark">Take For A
                            Walk <i class="fas fa-walking leftspace"></i></button></a>
                    <a href="/walks" class="card-link"><button type="button" class="btn btn-outline-dark">Recent Walks
                            <i class="fas fa-shoe-prints leftspace"></i></button></a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-5">
            <h2>Add a Dog</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>Tell us about your dog.</h2>
                        <form class="dog-form">
                            <div class="form-group">
                                <label for="dog-name">Name</label>
                                <input type="text" class="form-control" id="dog-name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="dog-breed">Breed</label>
                                <input type="text" class="form-control" id="dog-breed" placeholder="Breed">
                            </div>
                            <div class="form-group">
                                <label for="dog-age">Age</label>
                                <input type="text" class="form-control" id="dog-age" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="dog-sex">Sex</label>
                                <input type="text" class="form-control" id="dog-sex" placeholder="Sex">
                            </div>
                            <div class="form-group">
                                <label for="dog-weight">Weight</label>
                                <input type="text" class="form-control" id="dog-weight" placeholder="Weight">
                            </div>
                            <button type="submit" id="dogFormSubmit" class="btn btn-default">Submit</button>
                        </form>
                        <br />
                        <p><a href="/">Cancel</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/dog-form.js"></script>
