<h1>Owner's Name</h1>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2>Your Dogs</h2>
            <div class="card">
                {{!-- {{#each dogs}} --}}
                <img src="/img/IMG_0517 2.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dog Name {{!-- {{this.name}} --}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age: {{!-- {{this.age}} --}}</li>
                    <li class="list-group-item">Breed: {{!-- {{this.breed}} --}}</li>
                    <li class="list-group-item">Weight: {{!-- {{this.weight}} --}}</li>
                    <li class="list-group-item">Gender: {{!-- {{this.gender}} --}}</li>
                    <li class="list-group-item">Dog Walker: {{!-- {{this.walker}} --}}</li>
                </ul>
                <div class="card-body">
                    <a href="/new-walk" class="card-link"><button type="button" class="btn btn-outline-dark">Take For A Walk <i class="fas fa-walking leftspace"></i></button></a>
                    <a href="/walks" class="card-link"><button type="button" class="btn btn-outline-dark">Recent Walks <i class="fas fa-shoe-prints leftspace"></i></button></a>
                </div>
                {{!-- {{/each}} --}}
            </div>
        </div>
        <div class="col-md-5">
            <h2>Add a Dog</h2>
            {{!-- <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Add a Dog
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <form class="signup">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputDogName">Name</label>
                                        <input type="text" class="form-control" id="first-name-input"
                                            placeholder="First name" autofocus>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputDogAge">Age</label>
                                        <input type="text" class="form-control" id="first-name-input" placeholder="Age"
                                            autofocus>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputDogBreed">Breed</label>
                                        <input type="text" class="form-control" id="first-name-input"
                                            placeholder="Breed" autofocus>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputDogWeight">Weight</label>
                                        <input type="text" class="form-control" id="first-name-input"
                                            placeholder="Weight" autofocus>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputDogWalker">Dog Walker</label>
                                        <select class="custom-select">

                                            <option selected>Dog Walker</option>
                                            <option value="1">Have this dynamically generate?</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span> <span class="msg"></span>
                                </div>
                                <button type="submit" class="btn btn-default">Add Dog</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> --}}
            <form class="signup">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDogName">Name</label>
                        <input type="text" class="form-control" id="dog-name-input" placeholder="First name"
                            autofocus>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDogAge">Age</label>
                        <input type="text" class="form-control" id="dog-age-input" placeholder="Age" autofocus>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDogBreed">Breed</label>
                        <input type="text" class="form-control" id="dog-breed-input" placeholder="Breed" autofocus>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDogWeight">Weight</label>
                        <input type="text" class="form-control" id="dog-weight-input" placeholder="Weight" autofocus>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDogWeight">Gender</label>
                        <input type="text" class="form-control" id="dog-gender-input" placeholder="gender" autofocus>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDogWalker">Dog Walker</label>
                        <select class="custom-select">

                            <option selected>Dog Walker</option>
                            <option value="1">Have this dynamically generate?</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button type="submit" class="btn btn-default">Add Dog</button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>