{{> navbar}}

<h1 class="welcome-header">Hi, {{userFirstName}}!</h1>

<div class="card dogs-card">
    {{!-- {{#each dogs}} --}}
    <h3>Your dogs</h3>
    <a href="/dog-form">Add a dog</a>
    <img src="/img/white_lab.JPG" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dog Name {{!-- {{this.name}} --}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: {{!-- {{this.age}} --}}</li>
        <li class="list-group-item">Breed: {{!-- {{this.breed}} --}}</li>
        <li class="list-group-item">Weight: {{!-- {{this.weight}} --}}</li>
        <li class="list-group-item">Gender: {{!-- {{this.gender}} --}}</li>
        <li class="list-group-item">Dog Walker: {{!-- {{this.walker}} --}}</li>
    </ul>
    <div class="card-body">
        <a href="/walk-dog" class="card-link"><button type="button" class="btn btn-outline-dark">Take For A
                Walk <i class="fas fa-walking leftspace"></i></button></a>
        <a href="/walks" class="card-link"><button type="button" class="btn btn-outline-dark">Recent Walks
                <i class="fas fa-shoe-prints leftspace"></i></button></a>
    </div>
    {{!-- {{/each}} --}}
            
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/dog-form.js"></script>
