{{> navbar}}

<h1 class="welcome-header">Hi, {{userFirstName}}!</h1>

<div class="dog-page-wrapper">
    <div class="add-dog-link">
        <a href="/dog-form">Add a dog</a>
    </div>
    <div class="card dogs-card">
        {{#each Dog}}
        <img src="{{this.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Name: {{this.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: {{this.age}}</li>
            <li class="list-group-item">Breed: {{this.breed}}</li>
            <li class="list-group-item">Weight: {{this.weight}}</li>
            <li class="list-group-item">Gender: {{this.sex}}</li>
            {{!-- <li class="list-group-item">Dog Walker: {{this.walker}}</li> --}}
        </ul>
        <div class="card-body">
            <a href="/walk-dog?dog_id={{this.id}}" class="card-link"><button type="button" class="btn btn-outline-dark">Take
                    For A
                    Walk <i class="fas fa-walking leftspace"></i></button></a>
            <a href="/walks" class="card-link"><button type="button" class="btn btn-outline-dark">Recent Walks
                    <i class="fas fa-shoe-prints leftspace"></i></button></a>
        </div>
        {{/each}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/dog-form.js"></script>

    <script>
        $("#orgDogForm").on("click", function(event){
            //event.preventDefault();
            localStorage.clear();
        })
    </script>
