<h1>(Dog Name) Recent Walks</h1>

<div id="home" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-group">
                <div class="card">
                    <img src="/img/Screen Shot 2019-05-22 at 11.01.15 AM.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Most recent walk</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date: {{!-- {{this.date}} --}}</li>
                            <li class="list-group-item">Distance: {{!-- {{this.distance}} --}}</li>
                            <li class="list-group-item">Time: {{!-- {{this.time}} --}}</li>
                            <li class="list-group-item">Notes: {{!-- {{this.notes}} --}}</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/Screen Shot 2019-05-22 at 11.01.15 AM.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Second most recent walk</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date: {{!-- {{this.date}} --}}</li>
                            <li class="list-group-item">Distance: {{!-- {{this.distance}} --}}</li>
                            <li class="list-group-item">Time: {{!-- {{this.time}} --}}</li>
                            <li class="list-group-item">Notes: {{!-- {{this.notes}} --}}</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/Screen Shot 2019-05-22 at 11.01.15 AM.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Third most recent walk</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date: {{!-- {{this.date}} --}}</li>
                            <li class="list-group-item">Distance: {{!-- {{this.distance}} --}}</li>
                            <li class="list-group-item">Time: {{!-- {{this.time}} --}}</li>
                            <li class="list-group-item">Notes: {{!-- {{this.notes}} --}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/walks.js"></script>